.BackgroundColor{
  z-index: -1;
  background-color: $beige;
  padding-bottom: 0.1rem;
}

.Photo1{
  background-image: linear-gradient(180.28deg, rgba(0, 0, 0, 0) 46.13%, #000000 130.94%), url(https://i.imgur.com/uq1GP8I.jpg);
  position: relative;
    width: 100vw;
  height: 90vh;
  padding-top: 80vh;
  color: #24FF00;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.textes{
  position: relative;
  width:  50vw;
  left: 25vw;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 1rem;
  color: #34251d;
}

.Photo2{
  background-image: linear-gradient(188.7deg, rgba(97, 97, 97, 0) 53.94%, #000000 111.92%), url(https://i.imgur.com/T2Sna1l.jpg);
  position: relative;
    height: 70vh;
    text-align: center;
    padding-top: 62vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #24FF00;
}

.Photo3{
  background-image: linear-gradient(188.7deg, rgba(97, 97, 97, 0) 53.94%, #000000 111.92%), url(https://i.imgur.com/5KeySZ5.jpg);
  position: relative;
  height: 60vh;
  text-align: center;
  padding-top: 52vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #24FF00;
}

.Photo4{
  background-image: linear-gradient(188.7deg, rgba(97, 97, 97, 0) 53.94%, #000000 111.92%), url(https://i.imgur.com/rrEUTlq.jpg);
  position: relative;
  height: 85vh;
  text-align: center;
  padding-top: 78vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #24FF00;
}

.bottom_text {
margin-bottom: 5vh;
}

.entete {
  color: $beige;
}

.titre {
  color: $beige;
}
