.conference-container {
   display: grid;
  // grid-template-columns: 285px 285px 285px 285px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1vw;
  padding-top: 1vh;
  padding-left: 1vw;
  justify-content: space-between;
}
.card-conference {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
    width: 410px;

}

.card-conference > img {
  height: 569px;
  width: 410px;
  object-fit: cover;
}

.card-conference h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-conference p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-conference .card-conference-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

