.container-devise {
background-color: $beige;
height: 100vh;
}

.container-devise2 {
background-color: $beige;
height: 100% ;
}
.big-container-login {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  padding-top: 12vh;
  // margin-top: 5vh;
  padding-bottom: 10vh;
}
// .big-container-login2 {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-top: 5vh;
//   // padding-bottom: 10vh;
// }
.small-container-login {
  padding: 25px;
  width: 30%;
  // margin: 0 auto;
  // margin-top: 150px;
  border-radius: 5px;
  background-color: white;
  border-style: solid;
  border-color: $button;
    h2 {
      color: $title;
      font-weight: bolder;
    }
  }
.education {
  display: flex;
  justify-content: space-around;

}
