.practicienscontainer {
     display: grid;
  // grid-template-columns: 285px 285px 285px 285px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1vw;
  padding-top: 15vh;
  padding-left: 1vw;
  justify-content: space-between;
}

.practiciens_cards {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  p {
    margin-bottom: 0.5rem;
  }
  .donnee_practicien {
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
  }
}
