<div class="footer_container">
  <% if current_user %>
  <%= link_to "nouvel evenement", new_agenda_path, class: "agenda" %>
  <%= link_to "nouveau practiciens", new_practicien_path, class: "practiciens"%>
  <%= link_to "Log out", destroy_user_session_path,  method: :delete, class: "log_out" %>
  <% end %>
</div>
