<!-- <div class="navbar">
	<div >
		<a class="LieuxDePratique" href="#">Lieux de pratique</a>
		<a class="QuiSommesNous" href="#">Qui sommes nous ?</a>
	</div>
	<a class="ABPAnavbar" href="#">ABPA</a>
	<div>
		<a class="ActesBibliographie" href="#">Actes - Bibliographie</a>
		<a class="AgendaActivite" href="#">Agenda et Activités</a>
		<a class="Contact" href="#"> Contact</a>
	</div>
</div>
-->
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
	<a class="navbar-brand" href="#">
		ABPA
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>


	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#" >Lieux de pratique</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Qui sommes nous ?</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Actes - Bibliographie</a>
			</li>	
			<li class="nav-item">
				<a class="nav-link" href="#">Agendas et Activités</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Contact</a>
			</li>
			<li class="nav-item dropdown">
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
				</div>
			</li>
		</ul>
	</div>
</div>
