
<div id="QuiSommesNous">
  <div class="Photo1" >
    <h1>Qui sommes nous ?</h1>
  </div>
  <div class="BackgroundColor1">
    <h3 class="textes">L’asbl ABPA (Association Belge de psychomotriciens formés à la Pratique Aucouturier ) a été créée en 2002. <br>
    Elle se propose comme un lieu de réflexion dont l’objet est de regrouper des professionnels formés à la Pratique Psychomotrice éducative et/ou thérapeutique à l'Ecole Belge de Pratique Psychomotrice Aucouturier (http://www.ebppa.be).</h2>
  </div>
</div>
<div id="ConceptionPratique">
  <div class="Photo2">
    <h2>conception de la pratique</h2>
  </div>
</div>
