
<div id="QuiSommesNous">
  <div class="Photo1" >
    <div class="TitreQuiSommesNous">
      <h1>Qui sommes nous ?</h1>
    </div>
  </div>
  <div class="BackgroundColor1">
    <p class="textes">
      L’asbl ABPA (Association Belge de psychomotriciens formés à la Pratique Aucouturier ) a été créée en 2002. <br>
      Elle se propose comme un lieu de réflexion dont l’objet est de regrouper des professionnels formés à la Pratique Psychomotrice éducative et/ou thérapeutique à l'Ecole Belge de Pratique Psychomotrice Aucouturier (http://www.ebppa.be).
    </p>
  </div>
</div>
<div id="ConceptionPratique">
  <div class="Photo2">
    <h2>Conception de la pratique</h2>
  </div>
  <div class="BackgroundColor2">
      <p class="textes">
        La Pratique Psychomotrice Aucouturier vise au développement psychique de l’enfant par la voie corporelle. Elle fait référence à une conception unitaire de la personne, le psychisme étant indissociable de ses racines corporelles. Cette pratique est une invitation à comprendre ce qu’exprime l’enfant de son monde interne, par la voie de la motricité; elle est une invitation à saisir le sens de ses actions et interactions...
      </p>
  </div>
</div>
<div id="ReconnaissanceStatut">
  <div class="Photo3" >
    <h2>Reconnaissance du statut de psychomotricien</h2>
  </div>
  <div class="BackgroundColor1">
    <p class="textes">
      En 2003, nous avons participé à la création de la Fédération belge des associations de l’éducation et de la thérapie psychomotrice. Au sein de cette fédération belge, nous sommes devenus membres du Forum européen de la psychomotricité. ( http://psychomot.org ).
    </p>
  </div>
</div>
<div id="formation">
  <div class="Photo4">
    <h2>Formation</h2>
  </div>
  <div class="BackgroundColor2">
      <p class="textes  bottom_text">
        Une formation à la relation à l'enfant par la voie du corps a été organisée pour les enseignants du réseau libre au sein du SEGEC. D'autres formations sont en préparation.
      </p>
  </div>
</div>
