  <div class="conception_container">
    <div class="image">
      <!-- <img src="https://res.cloudinary.com/chobischtroumpf/image/upload/v1569319529/bandeau-03_nrmfgz.jpg" alt=""> -->
      <h2>conception de la pratique</h2>
    </div>
    <div class="conception_def">
      <p>
        La Pratique Psychomotrice Aucouturier vise au développement psychique de l’enfant par la voie corporelle. Elle fait référence à une conception unitaire de la personne, le psychisme étant indissociable de ses racines corporelles. Cette pratique est une invitation à comprendre ce qu’exprime l’enfant de son monde interne, par la voie de la motricité; elle est une invitation à saisir le sens de ses actions et interactions.
      </p> <br>
      <p>
         Dans cette pratique, nous travaillons à partir du plaisir sensori-moteur comme facteur favorisant l’unité corporelle, le processus de symbolisation et l’accès à la représentation. La pratique vise à favoriser l’expression de toutes les potentialités motrices, affectives, cognitives et relationnelles de l’enfant. L’expressivité motrice, concept créé par Bernard Aucouturier, est la manière originale avec laquelle l’enfant manifeste ses contenus internes inconscients, issus des premières interactions avec le monde environnant. C’est en observant l’enfant qui agit que le psychomotricien découvre et comprend le sens de son expressivité motrice, son désir de s’attacher, de se séparer, d'être soi.
      </p> <br>
      <p>
        Le spécialiste de la pratique est préparé à observer, accueillir, accompagner, comprendre l’expressivité motrice afin d’apporter à l’enfant des réponses adaptées à ses besoins, à ses demandes, à ses désirs plus ou moins conscients.
      </p> <br>
      <p>
        La salle de Pratique Psychomotrice est un espace étudié pour que l’enfant puisse vivre un itinéraire de maturation psychologique, au cours duquel le psychomotricien accueille les productions et les émotions de l’enfant, contient ses excès et ses difficultés, maintient le cadre en favorisant toujours l’expression et la communication.
Ces principes se retrouvent dans la Pratique Psychomotrice éducative comme dans la Pratique Psychomotrice thérapeutique.
      </p>
      <p>
        La pratique se separe en 3 grande categories : <%= link_to "La pratique éducative", pages_education_path%>, <%= link_to "Le groupe d'aide", pages_groupe_aide_path%> et <%= link_to "Aide Individuelle", pages_aide_individuelle_path %>
      </p>
    </div>
  </div>
<%= render "shared/footer" %>
