  <div class="conception_container">
    <div class="image2">
      <!-- <img src="https://res.cloudinary.com/chobischtroumpf/image/upload/v1569319529/bandeau-03_nrmfgz.jpg" alt=""> -->
      <h2>Pratique Educative</h2>
    </div>
    <div class="conception_def">
      <p>
        Elle s’adresse à tous les enfants de 0 à 6/7 ans et les séances se vivent en groupe à la crèche, à l’école maternelle, dans les lieux d’accueil de la petite enfance et dans les centres de Pratique Psychomotrice Aucouturier. La Pratique Psychomotrice éducative et préventive est une pratique d’accompagnement de l’expressivité motrice. Elle est conçue comme un itinéraire de maturation psychologique favorisant le passage du « plaisir d’agir au plaisir de penser
      </p> <br>
      <p>
         Les objectifs de cette pratique peuvent se résumer par les termes :
communication, création, décentration. L’accès à la décentration se caractérise par un moindre envahissement émotionnel des objets et des autres. L’enfant rompt progressivement avec la subjectivité pour accéder à une forme de pensée moins lestée d’affect, il s’ouvre ainsi à la pensée opératoire.
      </p> <br>
      <p>
         La pratique éducative nécessite un espace approprié et le psychomotricien est le garant d’un cadre très contenant et permanent. Des espaces et des temps structurent la séance de manière à favoriser le développement de la fonction symbolique et des processus de réassurance face aux angoisses.
      </p> <br>
      <p>
        Rappelons que l’enfant ne joue pas pour apprendre mais apprend parce qu’il joue. L’espace sera donc suffisamment riche, stimulant et souple pour qu’il puisse y pratiquer, à son rythme, ses propres jeux. Le jeu réconcilie l’enfant avec lui-même et avec les autres car il stimule une rencontre et des échanges authentiques.
La Pratique Psychomotrice éducative a une valeur préventive des troubles du développement, elle est un préalable essentiel pour entrer dans le monde des apprentissages.
      </p>
      <p>La pratique se separe en 3 grande categories : <%= link_to "La pratique éducative", pages_education_path%>, <%= link_to "Le groupe d'aide", pages_groupe_aide_path%> et <%= link_to "Aide Individuelle", pages_aide_individuelle_path %></p>
    </div>
  </div>
<%= render "shared/footer" %>
