  <div class="conception_container">
    <div class="image3">
      <h2>Groupe d'aide
      </h2>
    </div>
    <div class="conception_def">
      <p>
        Nous avons constaté que certains enfants ne pouvaient bénéficier pleinement de la pratique éducative à cause de leurs comportements excessifs, répétitifs, immatures. Nous proposons à ces enfants des groupes d’aide quand les difficultés sont essentiellement révélées par l’école.
      </p> <br>
      <p>
         Les problèmes de symbolisation, de communication, de décentration, du respect de la loi sont souvent à l’origine de la demande d’aide car ces enfants ne s’intègrent pas dans le groupe classe. Ils restent centrés sur leurs propres affects et se réfugient souvent dans une pensée magique pour se protéger d’un monde extérieur hostile, voir dangereux à leurs yeux.
      </p> <br>
      <p>
          Le groupe d’aide est composé de 3 à 6 enfants émotionnellement fragiles dont l’âge se situe entre 4 et 7 ans. Dans ces groupes d’aide, nous ne travaillons pas directement sur le symptôme mais sur la recherche du plaisir qui fait défaut à l’enfant et limite grandement l’investissement des activités scolaires.
      </p> <br>
      <p>
        Ce travail se situe soit dans l’institution scolaire soit dans des lieux privés mais nécessite toujours la collaboration des parents et de l’école de manière à créer un faisceau d’aide autour de l’enfant.
      </p><br>
      <p>
        La régularité des séances, les rencontres ponctuelles avec les parents, une écoute attentive de ceux-ci, un climat de confiance, de sécurité affective et de liberté d’expression orale nous semblent indispensable pour une aide efficace.
      </p><br>
      <p>La pratique se separe en 3 grande categories : <%= link_to "La pratique éducative", pages_education_path%>, <%= link_to "Le groupe d'aide", pages_groupe_aide_path%> et <%= link_to "Aide Individuelle", pages_aide_individuelle_path %></p>
    </div>
  </div>
<%= render "shared/footer" %>
