<div class="page">
	<div class="titre">
		<h1>Qui sommes nous ?</h1>
	</div>
	<div class="main-container">
		<div class="section1">
			<div class="text">
				<p>L’asbl ABPA (Association Belge de psychomotriciens formés à la Pratique Aucouturier ) a été créée en 2002.
					Elle se propose comme un lieu de réflexion dont l’objet est de regrouper des professionnels formés à la Pratique Psychomotrice éducative et/ou thérapeutique à l'Ecole Belge de Pratique Psychomotrice Aucouturier ( <a href="http://www.ebppa.be">http://www.ebppa.be </a>). <br>
					Nous voulons d’une part partager et échanger à partir d’une pratique commune et d’autre part élargir ce champ de réflexion à d’autres professionnels de l’enfance.
					L’asbl a également pour objet de développer des études et des recherches sur la Pratique Psychomotrice et sur ses applications dans les champs préventifs, éducatifs ou thérapeutiques. De plus, des actions de sensibilisation, de formation et de diffusion au travers de congrès, de séminaires et de débats sont menées. 
				</p>
			</div>
			<div class="image">
				<%= image_tag "IMG_7321", class: "fill1"%>
			</div>
		</div>
		<div class="section2">
			<div class="fill2">

			</div>
			<div class="text2">

			</div>
		</div>
	</div>
</div>