.BackgroundBanner{
	width: 100vw;
	height: 500px;
	background: #C4C4C4;
}

.container{
	height: 625px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
.ABPABanner{
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 114.612px;
	line-height: 156px;

/* identical to box height */

color: #582F9A;
}

.LPPA {
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 65px;

	color: #646363;
}
