.BackgroundBanner{

position: absolute;
width: 1280px;
height: 626px;
left: -495px;
top: -235px;

background: #C4C4C4;
}

.ABPABanner{

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 114.612px;
line-height: 156px;

/* identical to box height */

color: #582F9A;
}

/* la pratique psycomotrice aucouturier */

position: absolute;
left: -93.2%;
right: -93.29%;
top: 157.69%;
bottom: -99.36%;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 65px;

color: #646363;



/* association belge de psychomotriciens formes */

position: absolute;
left: -128.4%;
right: -128.5%;
top: 100%;
bottom: -41.67%;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 65px;

color: #646363;

