.containers {
	display: flex;
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 2000;
	text-align: center;
	justify-content: space-between;
}

.facebook{
	font-size: 30px;
	// line-height: 50px;
  margin-left: 10px;
}

.trademarks {
  padding: 5px;
	margin-right: 15px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}
