.navbar-lewagon {
  justify-content: space-between;
background: linear-gradient(322.05deg, #5BC0EB 26.59%, rgba(91, 192, 235, 0.2) 86.23%), linear-gradient(315.89deg, rgba(252, 255, 75, 0.285) 62.49%, rgba(252, 255, 75, 0.75) 115.89%);
  font-size: 18px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand{
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 49px;
color: #008080;
}
