.navbar-lewagon {
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0);
  font-size: 18px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand{
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 49px;
color: #008080;
}
