.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(180deg, #394F49 -192.62%, rgba(57, 79, 73, 0) 402.24%);
  font-size: 18px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand{
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 49px;
color: #008080;
}
