
.bouton {
  background: $brown;
  padding: 8px 24px;
  border: none;
  border-radius: 9px;
  // background: $button;
  transition: background 0.3s ease;
  font-family: "Open Sans", "Helvetica", "sans-serif";
  font-weight: bold;
  width: 120px;
  a {
    display: block;
    text-decoration: none;
    color: $beige;
  }
}

.bouton:hover {
  color: white;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.24), 0 10px 10px 0 rgba(0,0,0,0.19);
}


